files:
    /etc/nginx/conf.d/redirects/00.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-245
            rewrite ^/addiction-treatment-services-las-vegas/?$ https://$host/addiction-recovery-program-overview/levels-of-care/ permanent;
            rewrite ^/outpatient/aftercare/?$ https://$host/addiction-recovery-program-overview/aftercare/ permanent;
            rewrite ^/addiction-treatment-services-las-vegas/therapy-types/?$ https://$host/addiction-recovery-program-overview/therapy-types/ permanent;
            rewrite ^/addiction-treatment-services-las-vegas/levels-of-care/?$ https://$host/addiction-recovery-program-overview/levels-of-care/ permanent;
            rewrite ^/outpatient/?$ https://$host/addiction-recovery-program-overview/outpatient/ permanent;
            rewrite ^/outpatient/programs/?$ https://$host/addiction-recovery-program-overview/outpatient/programs/ permanent;
            rewrite ^/addiction-treatment-services-las-vegas/aftercare/?$ https://$host/addiction-recovery-program-overview/aftercare/ permanent;
            rewrite ^/withdrawal-symptoms/?$ https://$host/long-suboxone-withdrawal-last/ permanent;
            #FACILITY-295
            rewrite ^/addiction-treatment-services-las-vegas/therapy-types/?$ https://$host/addiction-recovery-program-overview/therapy-types/ permanent;
            rewrite ^/long-suboxone-withdrawal-last/?$ https://$host/suboxone-abuse/long-suboxone-withdrawal-last/ permanent;
            rewrite ^/outpatient/about/?$ https://$host/addiction-recovery-program-overview/outpatient/ permanent;
            #FACILITY-618
            rewrite ^/adderall/?$ https://$host/drug-abuse/adderall/ permanent;
            rewrite ^/ambien/?$ https://$host/drug-abuse/ambien/ permanent;
            rewrite ^/ativan-addiction/?$ https://$host/drug-abuse/ativan/ permanent;
            rewrite ^/cocaine-abuse/?$ https://$host/drug-abuse/cocaine/ permanent;
            rewrite ^/cocaine-abuse/?$ https://$host/drug-abuse/cocaine/ permanent;
            rewrite ^/heroin-abuse/?$ https://$host/drug-abuse/heroin/ permanent;
    /etc/nginx/conf.d/redirects/01.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/hydrocodone-rehab/?$ https://$host/drug-abuse/hydrocodone/ permanent;
            rewrite ^/klonopin-treatment/?$ https://$host/drug-abuse/klonopin/ permanent;
            rewrite ^/lsd/?$ https://$host/drug-abuse/lsd/ permanent;
            rewrite ^/methamphetamine/?$ https://$host/drug-abuse/methamphetamine/ permanent;
            rewrite ^/suboxone-abuse/?$ https://$host/drug-abuse/suboxone/ permanent;
            rewrite ^/valium/?$ https://$host/drug-abuse/valium/ permanent;
            rewrite ^/xanax-treatment/?$ https://$host/drug-abuse/xanax/ permanent;
            #FACILITY-620
            rewrite ^/opiate-abuse/?$ https://$host/drug-abuse/opiates/ permanent;
            rewrite ^/adderall/mixing-drugs/?$ https://$host/drug-abuse/adderall/mixing-drugs/ permanent;
            rewrite ^/adderall/wean-off/?$ https://$host/drug-abuse/adderall/wean-off/ permanent;
            rewrite ^/adderall/effects/?$ https://$host/drug-abuse/adderall/effects/ permanent;
            rewrite ^/ambien/long-term-effects/?$ https://$host/drug-abuse/ambien/long-term-effects/ permanent;
            rewrite ^/ambien/alternatives/?$ https://$host/drug-abuse/ambien/alternatives/ permanent;
            rewrite ^/ambien/wean-off/?$ https://$host/drug-abuse/ambien/wean-off/ permanent;
            rewrite ^/ambien/memory-loss/?$ https://$host/drug-abuse/ambien/memory-loss/ permanent;
            rewrite ^/ativan-addiction/long-term-health-risks/?$ https://$host/drug-abuse/ativan/long-term-health-risks/ permanent;
            rewrite ^/ativan-addiction/signs-of-abuse/?$ https://$host/drug-abuse/ativan/signs-of-abuse/ permanent;
            rewrite ^/ativan-addiction/withdrawal/?$ https://$host/drug-abuse/ativan/withdrawal/ permanent;
            rewrite ^/ativan-addiction/stay-in-system/?$ https://$host/drug-abuse/ativan/stay-in-system/ permanent;
            rewrite ^/cocaine-abuse/physical-impact/?$ https://$host/drug-abuse/cocaine/physical-impact/ permanent;
            rewrite ^/cocaine-abuse/signs/?$ https://$host/drug-abuse/cocaine/signs/ permanent;
            rewrite ^/cocaine-abuse/stay-in-system/?$ https://$host/drug-abuse/cocaine/stay-in-system/ permanent;
            rewrite ^/cocaine-abuse/how-its-made/?$ https://$host/drug-abuse/cocaine/how-its-made/ permanent;
            rewrite ^/cocaine-abuse/long-term-risks/?$ https://$host/drug-abuse/cocaine/long-term-risks/ permanent;
            rewrite ^/heroin-abuse/long-term-dangers/?$ https://$host/drug-abuse/heroin/long-term-dangers/ permanent;
            rewrite ^/heroin-abuse/snorting/?$ https://$host/drug-abuse/heroin/snorting/ permanent;
            rewrite ^/heroin-abuse/signs/?$ https://$host/drug-abuse/heroin/signs/ permanent;
            rewrite ^/heroin-abuse/tapering-off/?$ https://$host/drug-abuse/heroin/tapering-off/ permanent;
            rewrite ^/heroin-abuse/stay-in-system/?$ https://$host/drug-abuse/heroin/stay-in-system/ permanent;
            rewrite ^/heroin-abuse/overdose/?$ https://$host/drug-abuse/heroin/overdose/ permanent;
            rewrite ^/heroin-abuse/how-its-made/?$ https://$host/drug-abuse/heroin/how-its-made/ permanent;
            rewrite ^/hydrocodone-rehab/long-term-risks/?$ https://$host/drug-abuse/hydrocodone/long-term-risks/ permanent;
            rewrite ^/hydrocodone-rehab/how-to-know/?$ https://$host/drug-abuse/hydrocodone/how-to-know/ permanent;
            rewrite ^/hydrocodone-rehab/long-term-effects/?$ https://$host/drug-abuse/hydrocodone/long-term-effects/ permanent;
            rewrite ^/hydrocodone-rehab/withdrawal-timeline/?$ https://$host/drug-abuse/hydrocodone/withdrawal-timeline/ permanent;
            rewrite ^/klonopin-treatment/withdrawal-timeline/?$ https://$host/drug-abuse/klonopin/withdrawal-timeline/ permanent;
            rewrite ^/klonopin-treatment/adverse-side-effects/?$ https://$host/drug-abuse/klonopin/adverse-side-effects/ permanent;
            rewrite ^/klonopin-treatment/long-term-effects/?$ https://$host/drug-abuse/klonopin/long-term-effects/ permanent;
            rewrite ^/klonopin-treatment/signs-of-addiction/?$ https://$host/drug-abuse/klonopin/signs-of-addiction/ permanent;
            rewrite ^/lsd/has-it-evolved/?$ https://$host/drug-abuse/lsd/has-it-evolved/ permanent;
            rewrite ^/lsd/withdrawal/?$ https://$host/drug-abuse/lsd/withdrawal/ permanent;
            rewrite ^/lsd/long-term-effects/?$ https://$host/drug-abuse/lsd/long-term-effects/ permanent;
            rewrite ^/lsd/made-from/?$ https://$host/drug-abuse/lsd/made-from/ permanent;
            rewrite ^/lsd/detox/?$ https://$host/drug-abuse/lsd/detox/ permanent;
            rewrite ^/marijuana/abuse/?$ https://$host/drug-abuse/marijuana/abuse/ permanent;
            rewrite ^/marijuana/withdrawals/?$ https://$host/drug-abuse/marijuana/withdrawals/ permanent;
            rewrite ^/marijuana/stay-in-system/?$ https://$host/drug-abuse/marijuana/stay-in-system/ permanent;
            rewrite ^/marijuana/long-term-effects/?$ https://$host/drug-abuse/marijuana/long-term-effects/ permanent;
            rewrite ^/marijuana/long-term-concerns/?$ https://$host/drug-abuse/marijuana/long-term-concerns/ permanent;
            rewrite ^/marijuana/legalization-decriminalization/?$ https://$host/drug-abuse/marijuana/legalization-decriminalization/ permanent;
            rewrite ^/marijuana/other-forms/?$ https://$host/drug-abuse/marijuana/other-forms/ permanent;
            rewrite ^/methamphetamine/long-term-issues/?$ https://$host/drug-abuse/methamphetamine/long-term-issues/ permanent;
            rewrite ^/methamphetamine/signs/?$ https://$host/drug-abuse/methamphetamine/signs/ permanent;
            rewrite ^/methamphetamine/dangers-smoking-snorting/?$ https://$host/drug-abuse/methamphetamine/dangers-smoking-snorting/ permanent;
            rewrite ^/opiate-abuse/opiate-addiction-and-pregnancy/?$ https://$host/drug-abuse/opiates/opiate-addiction-and-pregnancy/ permanent;
            rewrite ^/opiate-abuse/chronic-pain-and-addiction/?$ https://$host/drug-abuse/opiates/chronic-pain-and-addiction/ permanent;
            rewrite ^/opiate-abuse/long-term-effects-of-use/?$ https://$host/drug-abuse/opiates/long-term-effects-of-use/ permanent;
            rewrite ^/opiate-abuse/signs-of-an-opiate-addiction/?$ https://$host/drug-abuse/opiates/signs-of-an-opiate-addiction/ permanent;
            rewrite ^/opiate-abuse/stages-opiate-addiction/?$ https://$host/drug-abuse/opiates/stages-opiate-addiction/ permanent;
            rewrite ^/suboxone-abuse/side-effects/?$ https://$host/drug-abuse/suboxone/side-effects/ permanent;
            rewrite ^/suboxone-abuse/tapering-off/?$ https://$host/drug-abuse/suboxone/tapering-off/ permanent;
            rewrite ^/suboxone-abuse/long-stay-in-system/?$ https://$host/drug-abuse/suboxone/long-stay-in-system/ permanent;
            rewrite ^/suboxone-abuse/long-suboxone-withdrawal-last/?$ https://$host/drug-abuse/suboxone/long-suboxone-withdrawal-last/ permanent;
            rewrite ^/xanax-treatment/wean-off/?$ https://$host/drug-abuse/xanax/wean-off/ permanent;
            rewrite ^/xanax-treatment/long-term-effects/?$ https://$host/drug-abuse/xanax/long-term-effects/ permanent;
            rewrite ^/xanax-treatment/length-in-system/?$ https://$host/drug-abuse/xanax/length-in-system/ permanent;
            rewrite ^/xanax-treatment/lethal-dose/?$ https://$host/drug-abuse/xanax/lethal-dose/ permanent;
            rewrite ^/xanax-treatment/mixing-with-alcohol/?$ https://$host/drug-abuse/xanax/mixing-with-alcohol/ permanent;
            rewrite ^/valium/addictive/?$ https://$host/drug-abuse/valium/addictive/ permanent;
            rewrite ^/valium/prescription-addiction/?$ https://$host/drug-abuse/valium/prescription-addiction/ permanent;
            rewrite ^/valium/health-concerns/?$ https://$host/drug-abuse/valium/health-concerns/ permanent;
            rewrite ^/valium/withdrawal-timeline/?$ https://$host/drug-abuse/valium/withdrawal-timeline/ permanent;
            #FACILITY-595
            rewrite ^/methadone-abuse/severe-withdrawal/?$ https://$host/methadone-abuse/ permanent;
            #FACILITY-841
            rewrite ^/about-our-addiction-treatment-center/90-day-promise/?$ https://$host/about-us/brand-promise-details/ permanent;
            #FACILITY-888
            rewrite ^/addiction-recovery-program-overview/(.+)$ /las-vegas-program/$1 permanent;
            #FACILITY-931
            rewrite ^/addiction-treatment/inpatient/admissions-process/?$ https://$host/las-vegas-program/admissions/ permanent;
            rewrite ^/addiction-recovery-program-overview/?$ https://$host/addiction-recovery-vegas/ permanent;
            rewrite ^/salute-to-recovery/?$ https://$host/addiction-recovery-vegas/salute-to-recovery/ permanent;
            rewrite ^/addiction-recovery-program-overview/levels-of-care/?$ https://$host/addiction-recovery-vegas/levels-of-care/ permanent;
            rewrite ^/addiction-recovery-program-overview/therapy-types/?$ https://$host/addiction-recovery-vegas/therapy-types/ permanent;
            rewrite ^/addiction-recovery-program-overview/aftercare/?$ https://$host/addiction-recovery-vegas/aftercare/ permanent;
            rewrite ^/addiction-recovery-program-overview/specialized-treatment/?$ https://$host/addiction-recovery-vegas/specialized-treatment/ permanent;
            rewrite ^/las-vegas-addiction-treatment-facility/?$ https://$host/addiction-recovery-vegas/facility/ permanent;
            rewrite ^/las-vegas-addiction-treatment-facility/features-and-amenities/?$ https://$host/addiction-recovery-vegas/features-and-amenities/ permanent;
            rewrite ^/admissions/?$ https://$host/addiction-recovery-vegas/admissions/ permanent;
            rewrite ^/admissions/what-to-expect/?$ https://$host/addiction-recovery-vegas/what-to-expect/ permanent;
            rewrite ^/addiction-treatment-payment-options/?$ https://$host/addiction-recovery-vegas/payment-options/ permanent;
            rewrite ^/resource-center/?$ https://$host/addiction-resources-center/ permanent;
            rewrite ^/codeine/?$ https://$host/drug-abuse/codeine/ permanent;
            rewrite ^/codeine/withdrawal-timeline/?$ https://$host/drug-abuse/codeine/withdrawal-timeline/ permanent;
            rewrite ^/codeine/signs-of-abuse/?$ https://$host/drug-abuse/codeine/signs-of-abuse/ permanent;
            rewrite ^/codeine/abuse/?$ https://$host/drug-abuse/codeine/abuse/ permanent;
            rewrite ^/codeine/long-term-effects/?$ https://$host/drug-abuse/codeine/long-term-effects/ permanent;
            rewrite ^/drug-abuse/opiate-abuse/?$ https://$host/drug-abuse/opiates/ permanent;
            rewrite ^/blog/nicotine-addiction/?$ https://$host/blog/nicotine-addiction-risk/ permanent;
            rewrite ^/blog/drug-rehab-questions/?$ https://$host/10-questions-drug-rehab/ permanent;
            rewrite ^/outpatient/therapy-types/?$ https://$host/addiction-recovery-vegas/therapy-types/ permanent;
            rewrite ^/10-questions-drug-rehab/?$ https://$host/addiction-treatment/rehab/common-rehab-questions/ permanent;
            rewrite ^/about-our-addiction-treatment-center/?$ https://$host/about-us/ permanent;
            rewrite ^/about-our-addiction-treatment-center/events-and-media/?$ https://$host/about-us/events-and-media/ permanent;
            rewrite ^/addiction-medications/?$ https://$host/addiction-medication/ permanent;
            rewrite ^/addiction-medications/acamprosate-treatment/?$ https://$host/addiction-medication/acamprosate-campral/ permanent;
            rewrite ^/addiction-medications/antidepressants/?$ https://$host/addiction-medication/antidepressants/ permanent;
            rewrite ^/addiction-medications/benzodiazepines/?$ https://$host/sedatives/benzodiazepine-addiction/ permanent;
            rewrite ^/addiction-medications/buprenorphine/?$ https://$host/addiction-medication/buprenorphine/ permanent;
            rewrite ^/addiction-medications/clonidine/?$ https://$host/addiction-medication/clonidine/ permanent;
            rewrite ^/addiction-medications/disulfiram/?$ https://$host/addiction-medication/disulfiram/ permanent;
            rewrite ^/addiction-medications/medication-management/?$ https://$host/addiction-medication/medication-management/ permanent;
            rewrite ^/addiction-medications/naltrexone/?$ https://$host/addiction-medication/naltrexone/ permanent;
            rewrite ^/addiction-medications/opioid-replacement-therapy/?$ https://$host/addiction-medication/opioid-replacement-therapy/ permanent;
            rewrite ^/addiction-medications/smoking-cessation-medications/?$ https://$host/addiction-medication/smoking-cessation-medications/ permanent;
            rewrite ^/addiction-psychology/?$ https://$host/addiction-treatment/psychology/ permanent;
            rewrite ^/addiction-psychology/aromatherapy/?$ https://$host/addiction-treatment/psychology/aromatherapy/ permanent;
            rewrite ^/addiction-psychology/color-theory/?$ https://$host/addiction-treatment/psychology/color-theory/ permanent;
            rewrite ^/addiction-psychology/comfort-food/?$ https://$host/addiction-treatment/psychology/comfort-food/ permanent;
            rewrite ^/addiction-psychology/music-sound-therapy/?$ https://$host/addiction-treatment/psychology/music-sound-therapy/ permanent;
            rewrite ^/addiction-psychology/touch-massage-therapy/?$ https://$host/addiction-treatment/psychology/touch-massage-therapy/ permanent;
            rewrite ^/addiction-recovery-vegas/?$ https://$host/las-vegas-program/ permanent;
            rewrite ^/addiction-recovery-vegas/admissions/?$ https://$host/las-vegas-program/admissions/ permanent;
            rewrite ^/addiction-recovery-vegas/aftercare/?$ https://$host/las-vegas-program/aftercare/ permanent;
            rewrite ^/addiction-recovery-vegas/aftercare/stories-of-recovery/?$ https://$host/las-vegas-program/aftercare/stories-of-recovery/ permanent;
            rewrite ^/addiction-recovery-vegas/facility/?$ https://$host/las-vegas-program/facility/ permanent;
    /etc/nginx/conf.d/redirects/02.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/addiction-recovery-vegas/features-and-amenities/?$ https://$host/las-vegas-program/features-and-amenities/ permanent;
            rewrite ^/addiction-recovery-vegas/levels-of-care/?$ https://$host/las-vegas-program/levels-of-care/ permanent;
            rewrite ^/addiction-recovery-vegas/outpatient/?$ https://$host/las-vegas-program/outpatient/ permanent;
            rewrite ^/addiction-recovery-vegas/outpatient/about/?$ https://$host/las-vegas-program/outpatient/about/ permanent;
            rewrite ^/addiction-recovery-vegas/outpatient/aftercare/?$ https://$host/las-vegas-program/outpatient/aftercare/ permanent;
            rewrite ^/addiction-recovery-vegas/outpatient/programs/?$ https://$host/las-vegas-program/outpatient/programs/ permanent;
            rewrite ^/addiction-recovery-vegas/outpatient/therapy-types/?$ https://$host/las-vegas-program/outpatient/therapy-types/ permanent;
            rewrite ^/addiction-recovery-vegas/payment-options/?$ https://$host/las-vegas-program/payment-options/ permanent;
            rewrite ^/addiction-recovery-vegas/salute-to-recovery/?$ https://$host/las-vegas-program/salute-to-recovery/ permanent;
            rewrite ^/addiction-recovery-vegas/salute-to-recovery/state-of-veteran-mental-health-and-substance-abuse-in-america/?$ https://$host/las-vegas-program/salute-to-recovery/state-of-veteran-mental-health-and-substance-abuse/ permanent;
            rewrite ^/addiction-recovery-vegas/sober-living/?$ https://$host/las-vegas-program/sober-living/ permanent;
            rewrite ^/addiction-recovery-vegas/specialized-treatment/?$ https://$host/las-vegas-program/specialized-treatment/ permanent;
            rewrite ^/addiction-recovery-vegas/therapy-types/?$ https://$host/las-vegas-program/therapy-types/ permanent;
            rewrite ^/addiction-recovery-vegas/what-to-expect/?$ https://$host/las-vegas-program/admissions/ permanent;
            rewrite ^/addiction-recovery-vegas/what-to-expect/families/?$ https://$host/las-vegas-program/admissions/families/ permanent;
            rewrite ^/addiction-recovery-vegas/what-to-expect/families/after-rehab/?$ https://$host/las-vegas-program/admissions/families/after-rehab/ permanent;
            rewrite ^/addiction-recovery-vegas/what-to-expect/faq/?$ https://$host/las-vegas-program/admissions/faq/ permanent;
            rewrite ^/addiction-recovery-vegas/what-to-expect/patients/?$ https://$host/las-vegas-program/admissions/patients/ permanent;
            rewrite ^/adhd-substance-abuse/?$ https://$host/co-occurring-disorders/adhd/ permanent;
            rewrite ^/adhd-substance-abuse/adult/?$ https://$host/co-occurring-disorders/adhd/adults/ permanent;
            rewrite ^/aftercare/?$ https://$host/addiction-treatment/aftercare/ permanent;
            rewrite ^/aftercare/12-step/?$ https://$host/alcohol-abuse/12-step-program/ permanent;
            rewrite ^/aftercare/12-step/conducted/?$ https://$host/alcohol-abuse/12-step-program/conducted/ permanent;
            rewrite ^/aftercare/12-step/sponsor/?$ https://$host/alcohol-abuse/12-step-program/sponsor/ permanent;
            rewrite ^/aftercare/alumni-program/?$ https://$host/addiction-treatment/aftercare/alumni-program/ permanent;
            rewrite ^/aftercare/finances/?$ https://$host/addiction-guide/insurance-finance/financial-planning-aftercare/ permanent;
            rewrite ^/aftercare/plans-outcomes-statistics/?$ https://$host/addiction-treatment/aftercare/plans-outcomes-stats/ permanent;
            rewrite ^/aftercare/prevent-triggers-relapse/?$ https://$host/addiction-treatment/aftercare/prevent-triggers-in-relapse/ permanent;
            rewrite ^/aftercare/sober-living/?$ https://$host/addiction-treatment/sober-living/ permanent;
            rewrite ^/aftercare/sober-living/length-of-stay/?$ https://$host/addiction-treatment/sober-living/length-of-stay/ permanent;
            rewrite ^/aftercare/sober-living/what-to-expect/?$ https://$host/addiction-treatment/sober-living/what-to-expect/ permanent;
            rewrite ^/aftercare/support-groups/?$ https://$host/addiction-treatment/aftercare/support-groups/ permanent;
            rewrite ^/aftercare/transitional-living/?$ https://$host/addiction-treatment/aftercare/transitional-living/ permanent;
            rewrite ^/alcohol-abuse/dangers-binge-drinking/?$ https://$host/alcohol-abuse/binge-drinking/ permanent;
            rewrite ^/alcohol-abuse/effects/?$ https://$host/alcohol-abuse/side-effects/ permanent;
            rewrite ^/alcohol-abuse/party-schools/?$ https://$host/addiction-guide/college/party-schools/ permanent;
            rewrite ^/alcohol-abuse/stay-in-system/?$ https://$host/alcohol-abuse/length-in-system/ permanent;
            rewrite ^/alcohol-abuse/test/?$ https://$host/alcohol-abuse/am-i-an-alcoholic-quiz/ permanent;
            rewrite ^/antidepressants/citalopram-celexa/?$ https://$host/antidepressants/citalopram-celexa-addiction/ permanent;
            rewrite ^/antidepressants/citalopram-celexa/long-term-effects/?$ https://$host/antidepressants/citalopram-celexa-addiction/long-term-side-effects/ permanent;
            rewrite ^/antidepressants/escitalopram-lexapro/?$ https://$host/antidepressants/escitalopram-lexapro-addiction/ permanent;
            rewrite ^/antidepressants/fluoxetine-prozac/?$ https://$host/antidepressants/fluoxetine-prozac-addiction/ permanent;
            rewrite ^/antidepressants/fluvoxamine-luvox/?$ https://$host/antidepressants/fluvoxamine-luvox-addiction/ permanent;
            rewrite ^/antidepressants/paroxetine-abuse/?$ https://$host/antidepressants/paroxetine-addiction/ permanent;
            rewrite ^/antidepressants/sertraline-zoloft/?$ https://$host/antidepressants/sertraline-zoloft-addiction/ permanent;
            rewrite ^/antisocial-personality-disorder/?$ https://$host/co-occurring-disorders/anti-social-personality-disorder/ permanent;
            rewrite ^/anxiety-substance-abuse/?$ https://$host/co-occurring-disorders/anxiety-disorders/ permanent;
            rewrite ^/anxiety-substance-abuse/panic-attacks/?$ https://$host/co-occurring-disorders/anxiety-disorders/panic-attacks/ permanent;
            rewrite ^/anxiety-substance-abuse/types/?$ https://$host/co-occurring-disorders/anxiety-disorders/types/ permanent;
            rewrite ^/avoidant-personality-disorder/?$ https://$host/co-occurring-disorders/avoidant-personality-disorder/ permanent;
            rewrite ^/bachelor-bachelorette-confessions/?$ https://$host/addiction-guide/holidays/bachelor-bachelorette-confessions/ permanent;
            rewrite ^/barbiturate-abuse/?$ https://$host/sedatives/barbiturate-addiction/ permanent;
            rewrite ^/big-pharma/?$ https://$host/addiction-guide/drug-industry-trends/ permanent;
            rewrite ^/bipolar-substance-abuse/?$ https://$host/co-occurring-disorders/bi-polar/ permanent;
            rewrite ^/bipolar-substance-abuse/types/?$ https://$host/co-occurring-disorders/bi-polar/types/ permanent;
            rewrite ^/blog/alcohol-blood-pressure-heart/?$ https://$host/alcohol-abuse/side-effects/ permanent;
            rewrite ^/blog/alternative-pain-treatment/?$ https://$host/co-occurring-disorders/chronic-pain/alternative-pain-treatment-south-nevada/ permanent;
            rewrite ^/blog/chronic-pain/?$ https://$host/co-occurring-disorders/chronic-pain/ permanent;
            rewrite ^/blog/continued-use-opiate/?$ https://$host/opioids/ permanent;
            rewrite ^/blog/embrace-holidays/?$ https://$host/addiction-guide/holidays/ permanent;
            rewrite ^/blog/execution-drug/?$ https://$host/opioids/fentanyl-addiction/new-execution-drug-nevada-death-row/ permanent;
            rewrite ^/blog/experimental-drug/?$ https://$host/addiction-medication/experimental-drug-for-alcohol-addiction-treatment/ permanent;
            rewrite ^/blog/finding-freedom-for-veterans/?$ https://$host/las-vegas-program/salute-to-recovery/finding-freedom-for-veterans/ permanent;
            rewrite ^/blog/functional-alcoholism-matters/?$ https://$host/alcohol-abuse/types-of-alcoholics/ permanent;
            rewrite ^/blog/groups-hit-by-opioid-addiction/?$ https://$host/opioids/opiate-addiction/opiate-addiction-overdose-statistics/ permanent;
            rewrite ^/blog/harm-reduction-saving-lives/?$ https://$host/addiction-treatment/harm-reduction/saving-lives/ permanent;
            rewrite ^/blog/heroin-and-aids/?$ https://$host/opioids/heroin-addiction/ permanent;
            rewrite ^/blog/high-potency-marijuana/?$ https://$host/marijuana-addiction/high-potency-marijuana/ permanent;
            rewrite ^/blog/kratom-cure/?$ https://$host/opioids/kratom-addiction/heroin-treatment/ permanent;
            rewrite ^/blog/kratom-recall/?$ https://$host/opioids/kratom-addiction/recall/ permanent;
            rewrite ^/blog/meth-deaths-in-nevada/?$ https://$host/stimulants/methamphetamine-addiction/meth-overdose-deaths-nevada/ permanent;
            rewrite ^/blog/narcan/?$ https://$host/addiction-medication/narcan/ permanent;
            rewrite ^/blog/nicotine-addiction-risk/?$ https://$host/stimulants/nicotine-addiction/side-effects/ permanent;
            rewrite ^/blog/nicotine-addiction/?$ https://$host/stimulants/nicotine-addiction/ permanent;
            rewrite ^/blog/nv-bring-fentanyl-test-kits-heroin-users/?$ https://$host/opioids/fentanyl-addiction/fentanyl-test-kits-for-heroin-users/ permanent;
            rewrite ^/blog/smoking-weed-improve-driving/?$ https://$host/marijuana-addiction/smoking-weed-wile-driving/ permanent;
            rewrite ^/blog/staging-an-intervention/?$ https://$host/addiction-treatment/intervention/staging-an-intervention/ permanent;
            rewrite ^/blog/too-much-drive/?$ https://$host/alcohol-abuse/drunk-driving/ permanent;
            rewrite ^/blog/wholly-holistic-patient-care-caring-whole-patient-matters/?$ https://$host/addiction-treatment/holistic-treatment/wholly-holistic-patient-care/ permanent;
            rewrite ^/bpd-substance-abuse/?$ https://$host/co-occurring-disorders/border-line-personality-disorder/ permanent;
            rewrite ^/brand-promise-details/?$ https://$host/about-us/brand-promise-details/ permanent;
            rewrite ^/bulimia/?$ https://$host/co-occurring-disorders/eating-disorders/bulimia/ permanent;
            rewrite ^/burning-man-good-bad/?$ https://$host/addiction-guide/drug-related-crimes/burning-man-good-bad/ permanent;
            rewrite ^/carfentanil/?$ https://$host/opioids/carfentanil-addiction/ permanent;
            rewrite ^/co-occurring-disorders/a-brief-history/?$ https://$host/co-occurring-disorders/history/ permanent;
            rewrite ^/co-occurring-disorders/diagnosed/?$ https://$host/co-occurring-disorders/diagnosis/ permanent;
            rewrite ^/co-occurring-disorders/seasonal-affective-disorder/?$ https://$host/co-occurring-disorders/season-affective-disorder/ permanent;
            rewrite ^/co-occurring-disorders/tests-assessments/?$ https://$host/co-occurring-disorders/tests-and-assessments/ permanent;
            rewrite ^/contact-our-addiction-treatment-center/?$ https://$host/about-us/contact/ permanent;
            rewrite ^/court-ordered-rehab/?$ https://$host/addiction-treatment/rehab/court-ordered-rehab/ permanent;
            rewrite ^/crack-addiction/?$ https://$host/stimulants/crack-cocaine-addiction/ permanent;
            rewrite ^/crystal-meth/?$ https://$host/stimulants/crystal-meth-addiction/ permanent;
            rewrite ^/crystal-meth/how-its-made/?$ https://$host/stimulants/crystal-meth-addiction/how-its-made/ permanent;
            rewrite ^/crystal-meth/signs-of-abuse/?$ https://$host/stimulants/crystal-meth-addiction/signs-of-abuse/ permanent;
            rewrite ^/crystal-meth/stay-in-system/?$ https://$host/stimulants/crystal-meth-addiction/length-in-system/ permanent;
            rewrite ^/crystal-meth/withdrawal/?$ https://$host/stimulants/crystal-meth-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/depression-and-abuse/?$ https://$host/co-occurring-disorders/depression/ permanent;
            rewrite ^/depression-and-abuse/behavioral-activation/?$ https://$host/co-occurring-disorders/depression/behavioral-activation/ permanent;
            rewrite ^/depression-and-abuse/depression-addiction-risk-suicide/?$ https://$host/co-occurring-disorders/depression/depression-addiction-risk-suicide/ permanent;
            rewrite ^/depression-and-abuse/levels/?$ https://$host/co-occurring-disorders/depression/levels/ permanent;
            rewrite ^/depression-and-abuse/medications-risk/?$ https://$host/co-occurring-disorders/depression/medications-risk/ permanent;
            rewrite ^/drug-abuse/?$ https://$host/addiction-guide/ permanent;
            rewrite ^/drug-abuse/adderall/?$ https://$host/stimulants/adderall-addiction/ permanent;
            rewrite ^/drug-abuse/adderall/effects/?$ https://$host/stimulants/adderall-addiction/side-effects/ permanent;
            rewrite ^/drug-abuse/adderall/mixing-drugs/?$ https://$host/addiction-guide/polydrug-use/mixing-adderall-and-other-drugs/ permanent;
            rewrite ^/drug-abuse/adderall/wean-off/?$ https://$host/stimulants/adderall-addiction/how-to-wean-off/ permanent;
            rewrite ^/drug-abuse/addiction/?$ https://$host/addiction-guide/substance-abuse/ permanent;
            rewrite ^/drug-abuse/addictive-opiates/?$ https://$host/opioids/most-addictive/ permanent;
            rewrite ^/drug-abuse/addictive-personality/?$ https://$host/addiction-guide/substance-abuse/addictive-personality/ permanent;
            rewrite ^/drug-abuse/administration-methods/?$ https://$host/addiction-guide/administration-methods/ permanent;
            rewrite ^/drug-abuse/administration-methods/inhaled/?$ https://$host/addiction-guide/administration-methods/inhaled/ permanent;
            rewrite ^/drug-abuse/administration-methods/injection/?$ https://$host/addiction-guide/administration-methods/injection/ permanent;
            rewrite ^/drug-abuse/administration-methods/orally/?$ https://$host/addiction-guide/administration-methods/orally/ permanent;
            rewrite ^/drug-abuse/administration-methods/smoke/?$ https://$host/addiction-guide/administration-methods/smoke/ permanent;
            rewrite ^/drug-abuse/administration-methods/snort/?$ https://$host/addiction-guide/administration-methods/snort/ permanent;
            rewrite ^/drug-abuse/administration-methods/transdermally/?$ https://$host/addiction-guide/administration-methods/transdermal/ permanent;
            rewrite ^/drug-abuse/adverse-reactions/?$ https://$host/addiction-guide/polydrug-use/adverse-reactions/ permanent;
            rewrite ^/drug-abuse/ambien/?$ https://$host/sedatives/ambien-addiction/ permanent;
            rewrite ^/drug-abuse/ambien/alternatives/?$ https://$host/sedatives/ambien-addiction/alternative-medications/ permanent;
            rewrite ^/drug-abuse/ambien/long-term-effects/?$ https://$host/sedatives/ambien-addiction/long-term-side-effects/ permanent;
            rewrite ^/drug-abuse/ambien/memory-loss/?$ https://$host/sedatives/ambien-addiction/memory-loss/ permanent;
            rewrite ^/drug-abuse/ambien/wean-off/?$ https://$host/sedatives/ambien-addiction/how-to-wean-off/ permanent;
            rewrite ^/drug-abuse/ativan/?$ https://$host/sedatives/ativan-addiction/ permanent;
            rewrite ^/drug-abuse/ativan/long-term-health-risks/?$ https://$host/sedatives/ativan-addiction/long-term-side-effects/ permanent;
            rewrite ^/drug-abuse/ativan/signs-of-abuse/?$ https://$host/sedatives/ativan-addiction/signs-of-abuse/ permanent;
            rewrite ^/drug-abuse/ativan/stay-in-system/?$ https://$host/sedatives/ativan-addiction/length-in-system/ permanent;
            rewrite ^/drug-abuse/ativan/withdrawal/?$ https://$host/sedatives/ativan-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/drug-abuse/behind-bars/?$ https://$host/addiction-guide/drug-related-crimes/ permanent;
            rewrite ^/drug-abuse/cartels/?$ https://$host/addiction-guide/drug-related-crimes/worldwide-drug-cartels/ permanent;
            rewrite ^/drug-abuse/cocaine/?$ https://$host/stimulants/cocaine-addiction/ permanent;
