files:
    /etc/nginx/conf.d/redirects/06.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3199
            rewrite ^/alcohol-abuse/functional-alcoholic/?$ https://$host/alcohol-abuse/types-of-alcoholics/ permanent;
            rewrite ^/alcohol-abuse/functional-alcoholic/why-it-matters/?$ https://$host/alcohol-abuse/types-of-alcoholics/ permanent;
            rewrite ^/alcohol-abuse/drunk-driving/how-much-is-too-much-to-drive/?$ https://$host/alcohol-abuse/drunk-driving/ permanent;
            rewrite ^/alcohol-abuse/symptoms/?$ https://$host/alcohol-abuse/signs-of-abuse/ permanent;
            rewrite ^/alcohol-abuse/side-effects/blood-pressure-and-heart/?$ https://$host/alcohol-abuse/side-effects/ permanent;
            rewrite ^/alcohol-abuse/moderation-management/treatment-strategy/?$ https://$host/alcohol-abuse/moderation-management/ permanent;
            #FACILITY-3753
            rewrite ^/about-us/privacy-policy/?$ https://$host/privacy-policy/ permanent;
            rewrite ^/about-us/terms-of-use/?$ https://$host/terms-of-use/ permanent;
            rewrite ^/about-us/hipaa-policy/?$ https://$host/hipaa-policy/ permanent;
            #FACILITY-3754
            rewrite ^/contributor/?$ https://$host/contributors/ permanent;
            rewrite ^/blog/opiate-epidemic-in-nevada/?$ https://$host/opioids/ permanent;
            rewrite ^/blog/overdose-deaths-nevada-rose-2017/?$ https://$host/opioids/ permanent;
            rewrite ^/blog/troopers-will-carry-naloxone/?$ https://$host/opioids/ permanent;
            rewrite ^/opioids/opana-addiction/?$ https://$host/opioids/ permanent;
            rewrite ^/opioids/opiate-addiction/continued-use-after-overdose/?$ https://$host/opioids/ permanent;
            rewrite ^/opioids/percocet-addiction/?$ https://$host/opioids/oxycontin-addiction/ permanent;
            rewrite ^/synthetic-drugs/desomorphine-krokodil/?$ https://$host/opioids/ permanent;
