files:
    /etc/nginx/conf.d/redirects/06.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3199
            rewrite ^/alcohol-abuse/functional-alcoholic/?$ https://$host/alcohol-abuse/types-of-alcoholics/ permanent;
            rewrite ^/alcohol-abuse/functional-alcoholic/why-it-matters/?$ https://$host/alcohol-abuse/types-of-alcoholics/ permanent;
            rewrite ^/alcohol-abuse/drunk-driving/how-much-is-too-much-to-drive/?$ https://$host/alcohol-abuse/drunk-driving/ permanent;
            rewrite ^/alcohol-abuse/symptoms/?$ https://$host/alcohol-abuse/signs-of-abuse/ permanent;
            rewrite ^/alcohol-abuse/side-effects/blood-pressure-and-heart/?$ https://$host/alcohol-abuse/side-effects/ permanent;
            rewrite ^/alcohol-abuse/moderation-management/treatment-strategy/?$ https://$host/alcohol-abuse/moderation-management/ permanent;
            #FACILITY-3753
            rewrite ^/about-us/privacy-policy/?$ https://$host/privacy-policy/ permanent;
            rewrite ^/about-us/terms-of-use/?$ https://$host/terms-of-use/ permanent;
            rewrite ^/about-us/hipaa-policy/?$ https://$host/hipaa-policy/ permanent;
            #FACILITY-3754
            rewrite ^/contributor/?$ https://$host/contributors/ permanent;
            rewrite ^/blog/opiate-epidemic-in-nevada/?$ https://$host/opioids/ permanent;
            rewrite ^/blog/overdose-deaths-nevada-rose-2017/?$ https://$host/opioids/ permanent;
            rewrite ^/blog/troopers-will-carry-naloxone/?$ https://$host/opioids/ permanent;
            rewrite ^/opioids/opana-addiction/?$ https://$host/opioids/ permanent;
            rewrite ^/opioids/opiate-addiction/continued-use-after-overdose/?$ https://$host/opioids/ permanent;
            rewrite ^/opioids/percocet-addiction/?$ https://$host/opioids/oxycontin-addiction/ permanent;
            rewrite ^/synthetic-drugs/desomorphine-krokodil/?$ https://$host/opioids/ permanent;
            #FACILITY-4202
            rewrite ^/opioids/suboxone-addiction/length-in-system/?$ https://$host/opioids/length-in-system/ permanent;
            rewrite ^/opioids/opana-addiction/length-in-system/?$ https://$host/opioids/length-in-system/ permanent;
            rewrite ^/opioids/oxycontin-addiction/length-in-system/?$ https://$host/opioids/length-in-system/ permanent;
            rewrite ^/opioids/morphine-addiction/long-term-side-effects/?$ https://$host/opioids/morphine-addiction/ permanent;
            rewrite ^/opioids/oxycontin-addiction/side-effects/?$ https://$host/opioids/oxycontin-addiction/ permanent;
            rewrite ^/opioids/hydrocodone-addiction/how-to-know/?$ https://$host/opioids/hydrocodone-addiction/ permanent;
            rewrite ^/opioids/opiate-addiction/chronic-pain-and-addiction/?$ https://$host/opioids/ permanent;
            rewrite ^/opioids/carfentanil-addiction/?$ https://$host/opioids/fentanyl-addiction/ permanent;
            rewrite ^/opioids/opiate-addiction/stages-of-addiction/?$ https://$host/opioids/ permanent;
            rewrite ^/opioids/hydrocodone-addiction/long-term-side-effects/?$ https://$host/opioids/hydrocodone-addiction/ permanent;
            rewrite ^/opioids/opana-addiction/withdrawal-symptoms/?$ https://$host/opioids/ permanent;
            rewrite ^/opioids/opana-addiction/side-effects/?$ https://$host/opioids/ permanent;
            rewrite ^/opioids/codeine-addiction/signs-of-abuse/?$ https://$host/opioids/codeine-addiction/ permanent;
            rewrite ^/opioids/opiate-addiction/opiate-addiction-overdose-statistics/?$ https://$host/addiction-guide/overdose/ permanent;
            rewrite ^/opioids/codeine-addiction/addiction-potential/?$ https://$host/opioids/codeine-addiction/ permanent;
            rewrite ^/opioids/oxycontin-addiction/withdrawal-symptoms/?$ https://$host/addiction-medication/methadone/ permanent;
            rewrite ^/opioids/methadone-addiction/?$ https://$host/opioids/ permanent;
            rewrite ^/opioids/oxycontin-addiction/abuse/?$ https://$host/opioids/oxycontin-addiction/ permanent;
            rewrite ^/opioids/methadone-addiction/addiction-potential/?$ https://$host/addiction-medication/methadone/ permanent;
            rewrite ^/opioids/methadone-addiction/severe-withdrawal/?$ https://$host/addiction-medication/methadone/ permanent;
            #FACILITY-4491
            rewrite ^/opioids/heroin-addiction/heroin-use-and-aids-epidemic/?$ https://$host/opioids/heroin-addiction/ permanent;
            rewrite ^/opioids/heroin-addiction/long-term-side-effects/?$ https://$host/opioids/heroin-addiction/ permanent;
            rewrite ^/addiction-medication/heroin-overdose-medications/?$ https://$host/addiction-guide/nevada-treatment-guide/narcan-naloxone/ permanent;
            rewrite ^/opioids/heroin-addiction/signs-of-abuse/?$ https://$host/opioids/heroin-addiction/ permanent;
            #FACILITY-4660
            rewrite ^/opioids/opiate-addiction/clinical-opiate-withdrawal-scale-cows/?$ https://$host/opioids/clinical-opiate-withdrawal-scale-cows/ permanent;
            rewrite ^/opioids/opiate-addiction/long-term-side-effects/?$ https://$host/opioids/side-effects/ permanent;
            rewrite ^/opioids/opiate-addiction/10-most-addictive-opiates/?$ https://$host/opioids/most-addictive/ permanent;
            rewrite ^/opioids/opiate-addiction/pregnancy/?$ https://$host/opioids/pregnancy/ permanent;
            rewrite ^/opioids/opiate-addiction/signs-of-abuse/?$ https://$host/opioids/signs-of-abuse/ permanent;
            #FACILITY-917
            rewrite ^/las-vegas-program/what-to-expect/?$ https://$host/las-vegas-program/admissions/ permanent;
            #FACILITY-4784
            rewrite ^/las-vegas-program/what-to-expect/families/?$ https://$host/las-vegas-program/admissions/families/ permanent;
            rewrite ^/las-vegas-program/what-to-expect/families/after-rehab/?$ https://$host/las-vegas-program/admissions/families/after-rehab/ permanent;
            rewrite ^/las-vegas-program/what-to-expect/faq/?$ https://$host/las-vegas-program/admissions/faq/ permanent;
            rewrite ^/las-vegas-program/what-to-expect/patients/?$ https://$host/las-vegas-program/admissions/patients/ permanent;
            #FACILITY-4495
            rewrite ^/blog/drug-use-impact-on-paycheck-calculator/?$ https://$host/addiction-guide/ permanent;
