files:
    /etc/nginx/conf.d/redirects/03.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/drug-abuse/cocaine/how-its-made/?$ https://$host/stimulants/cocaine-addiction/how-its-made/ permanent;
            rewrite ^/drug-abuse/cocaine/long-term-risks/?$ https://$host/stimulants/cocaine-addiction/long-term-side-effects/ permanent;
            rewrite ^/drug-abuse/cocaine/physical-impact/?$ https://$host/stimulants/cocaine-addiction/physical-impact/ permanent;
            rewrite ^/drug-abuse/cocaine/signs/?$ https://$host/stimulants/cocaine-addiction/signs-of-abuse/ permanent;
            rewrite ^/drug-abuse/cocaine/stay-in-system/?$ https://$host/stimulants/cocaine-addiction/length-in-system/ permanent;
            rewrite ^/drug-abuse/codeine/?$ https://$host/opioids/codeine-addiction/ permanent;
            rewrite ^/drug-abuse/codeine/abuse/?$ https://$host/opioids/codeine-addiction/addiction-potential/ permanent;
            rewrite ^/drug-abuse/codeine/long-term-effects/?$ https://$host/opioids/codeine-addiction/long-term-side-effects/ permanent;
            rewrite ^/drug-abuse/codeine/signs-of-abuse/?$ https://$host/opioids/codeine-addiction/signs-of-abuse/ permanent;
            rewrite ^/drug-abuse/codeine/withdrawal-timeline/?$ https://$host/opioids/codeine-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/drug-abuse/comorbid-chronic-disease/?$ https://$host/co-occurring-disorders/comorbid-chronic-disease/ permanent;
            rewrite ^/drug-abuse/countries-addict/?$ https://$host/addiction-guide/substance-abuse/worst-countries-to-be-living-in-as-an-addict/ permanent;
            rewrite ^/drug-abuse/cross-tolerance/?$ https://$host/addiction-guide/substance-abuse/cross-tolerance/ permanent;
            rewrite ^/drug-abuse/dangerous-combos/?$ https://$host/addiction-guide/polydrug-use/mixing-painkillers-and-benzos/ permanent;
            rewrite ^/drug-abuse/disposal/?$ https://$host/addiction-guide/substance-abuse/how-to-dispose-expired-meds-used-needles/ permanent;
            rewrite ^/drug-abuse/doctor-shopping/?$ https://$host/addiction-guide/substance-abuse/doctor-shopping/ permanent;
            rewrite ^/drug-abuse/driving-impaired/?$ https://$host/addiction-guide/drug-related-crimes/drugs-that-will-impair-your-driving/ permanent;
            rewrite ^/drug-abuse/enable/?$ https://$host/addiction-guide/substance-abuse/are-you-an-enabler/ permanent;
            rewrite ^/drug-abuse/five-most-prescribed-drugs/?$ https://$host/addiction-guide/drug-industry-trends/five-most-prescribed-drugs/ permanent;
            rewrite ^/drug-abuse/glamorized-destructive-behaviors/?$ https://$host/addiction-guide/substance-abuse/glamorized-destructive-behaviors/ permanent;
            rewrite ^/drug-abuse/harm-reduction/?$ https://$host/addiction-treatment/harm-reduction/ permanent;
            rewrite ^/drug-abuse/harm-reduction/mat/?$ https://$host/addiction-treatment/harm-reduction/medication-assisted-treatment/ permanent;
            rewrite ^/drug-abuse/harm-reduction/needle-exchanges/?$ https://$host/addiction-treatment/harm-reduction/needle-exchanges/ permanent;
            rewrite ^/drug-abuse/heroin/?$ https://$host/opioids/heroin-addiction/ permanent;
            rewrite ^/drug-abuse/heroin/how-its-made/?$ https://$host/opioids/heroin-addiction/how-its-made/ permanent;
            rewrite ^/drug-abuse/heroin/long-term-dangers/?$ https://$host/opioids/heroin-addiction/long-term-side-effects/ permanent;
            rewrite ^/drug-abuse/heroin/overdose/?$ https://$host/opioids/heroin-addiction/overdose/ permanent;
            rewrite ^/drug-abuse/heroin/signs/?$ https://$host/opioids/heroin-addiction/signs-of-abuse/ permanent;
            rewrite ^/drug-abuse/heroin/snorting/?$ https://$host/opioids/heroin-addiction/snorting/ permanent;
            rewrite ^/drug-abuse/heroin/stay-in-system/?$ https://$host/opioids/heroin-addiction/length-in-system/ permanent;
            rewrite ^/drug-abuse/heroin/tapering-off/?$ https://$host/opioids/heroin-addiction/tapering-off/ permanent;
            rewrite ^/drug-abuse/how-classified/?$ https://$host/addiction-guide/substance-abuse/drug-classifications/ permanent;
            rewrite ^/drug-abuse/hydrocodone/?$ https://$host/opioids/hydrocodone-addiction/ permanent;
            rewrite ^/drug-abuse/hydrocodone/how-to-know/?$ https://$host/opioids/hydrocodone-addiction/how-to-know/ permanent;
            rewrite ^/drug-abuse/hydrocodone/long-term-effects/?$ https://$host/opioids/hydrocodone-addiction/long-term-side-effects/ permanent;
            rewrite ^/drug-abuse/hydrocodone/long-term-risks/?$ https://$host/opioids/hydrocodone-addiction/long-term-dangers/ permanent;
            rewrite ^/drug-abuse/hydrocodone/withdrawal-timeline/?$ https://$host/opioids/hydrocodone-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/drug-abuse/infectious-disease/?$ https://$host/addiction-guide/substance-abuse/infectious-disease-and-drug-use/ permanent;
            rewrite ^/drug-abuse/inpatient-vs-outpatient/?$ https://$host/addiction-treatment/inpatient-vs-outpatient/ permanent;
            rewrite ^/drug-abuse/internet-era/?$ https://$host/addiction-guide/drug-industry-trends/drugs-in-the-internet-era/ permanent;
            rewrite ^/drug-abuse/klonopin/?$ https://$host/sedatives/klonopin-addiction/ permanent;
            rewrite ^/drug-abuse/klonopin/adverse-side-effects/?$ https://$host/sedatives/klonopin-addiction/side-effects/ permanent;
            rewrite ^/drug-abuse/klonopin/long-term-effects/?$ https://$host/sedatives/klonopin-addiction/long-term-side-effects/ permanent;
            rewrite ^/drug-abuse/klonopin/signs-of-addiction/?$ https://$host/sedatives/klonopin-addiction/signs-of-abuse/ permanent;
            rewrite ^/drug-abuse/klonopin/withdrawal-timeline/?$ https://$host/sedatives/klonopin-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/drug-abuse/legal-ramifications/?$ https://$host/addiction-guide/drug-laws-regulations/legal-ramifications-drug-addiction/ permanent;
            rewrite ^/drug-abuse/lgbt-community/?$ https://$host/addiction-guide/lgbtq-community/ permanent;
            rewrite ^/drug-abuse/lgbt-community/statistics/?$ https://$host/addiction-guide/lgbtq-community/statistics/ permanent;
            rewrite ^/drug-abuse/lsd/?$ https://$host/hallucinogens/lsd-addiction/ permanent;
            rewrite ^/drug-abuse/lsd/detox/?$ https://$host/hallucinogens/lsd-addiction/detox/ permanent;
            rewrite ^/drug-abuse/lsd/has-it-evolved/?$ https://$host/hallucinogens/lsd-addiction/has-it-evolved/ permanent;
            rewrite ^/drug-abuse/lsd/long-term-effects/?$ https://$host/hallucinogens/lsd-addiction/long-term-side-effects/ permanent;
            rewrite ^/drug-abuse/lsd/made-from/?$ https://$host/hallucinogens/lsd-addiction/chemical-makeup/ permanent;
            rewrite ^/drug-abuse/lsd/withdrawal/?$ https://$host/hallucinogens/lsd-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/drug-abuse/marijuana/?$ https://$host/marijuana-addiction/ permanent;
            rewrite ^/drug-abuse/marijuana/abuse/?$ https://$host/marijuana-addiction/abuse-potential/ permanent;
            rewrite ^/drug-abuse/marijuana/legalization-decriminalization/?$ https://$host/addiction-guide/drug-laws-regulations/marijuana-legalization-and-decriminalization/ permanent;
            rewrite ^/drug-abuse/marijuana/long-term-concerns/?$ https://$host/marijuana-addiction/dangers-of-use/ permanent;
            rewrite ^/drug-abuse/marijuana/long-term-effects/?$ https://$host/marijuana-addiction/long-term-effects/ permanent;
            rewrite ^/drug-abuse/marijuana/other-forms/?$ https://$host/marijuana-addiction/other-forms-of-marijuana/ permanent;
            rewrite ^/drug-abuse/marijuana/stay-in-system/?$ https://$host/marijuana-addiction/how-long-does-marijuana-stay-in-system/ permanent;
            rewrite ^/drug-abuse/marijuana/withdrawals/?$ https://$host/marijuana-addiction/withdrawal-timeline/ permanent;
            rewrite ^/drug-abuse/methamphetamine/?$ https://$host/stimulants/methamphetamine-addiction/ permanent;
            rewrite ^/drug-abuse/methamphetamine/dangers-smoking-snorting/?$ https://$host/stimulants/methamphetamine-addiction/dangers-smoking-snorting/ permanent;
            rewrite ^/drug-abuse/methamphetamine/long-term-issues/?$ https://$host/stimulants/methamphetamine-addiction/long-term-side-effects/ permanent;
            rewrite ^/drug-abuse/methamphetamine/signs/?$ https://$host/stimulants/methamphetamine-addiction/signs-of-abuse/ permanent;
            rewrite ^/drug-abuse/myths/?$ https://$host/addiction-guide/substance-abuse/myths/ permanent;
            rewrite ^/drug-abuse/nevada-laws/?$ https://$host/addiction-guide/drug-laws-regulations/nevada-drug-and-alcohol-laws/ permanent;
            rewrite ^/drug-abuse/nevada-laws/legal-marijuana/?$ https://$host/addiction-guide/drug-laws-regulations/nevada-state-laws-on-marijuana/ permanent;
            rewrite ^/drug-abuse/opiates/?$ https://$host/opioids/opiate-addiction/ permanent;
            rewrite ^/drug-abuse/opiates/chronic-pain-and-addiction/?$ https://$host/opioids/opiate-addiction/chronic-pain-and-addiction/ permanent;
            rewrite ^/drug-abuse/opiates/long-term-effects-of-use/?$ https://$host/opioids/opiate-addiction/long-term-side-effects/ permanent;
            rewrite ^/drug-abuse/opiates/opiate-addiction-and-pregnancy/?$ https://$host/opioids/opiate-addiction/pregnancy/ permanent;
            rewrite ^/drug-abuse/opiates/signs-of-an-opiate-addiction/?$ https://$host/opioids/opiate-addiction/signs-of-abuse/ permanent;
            rewrite ^/drug-abuse/opiates/stages-opiate-addiction/?$ https://$host/opioids/opiate-addiction/stages-of-addiction/ permanent;
            rewrite ^/drug-abuse/other-countries-treatment/?$ https://$host/addiction-guide/drug-industry-trends/other-countries-addiction-treatment/ permanent;
            rewrite ^/drug-abuse/pay-for-rehab/?$ https://$host/addiction-guide/insurance-finance/paying-for-rehab/ permanent;
            rewrite ^/drug-abuse/placebo-pill/?$ https://$host/addiction-treatment/psychology/placebo-pills/ permanent;
            rewrite ^/drug-abuse/possession-laws/?$ https://$host/addiction-guide/drug-laws-regulations/ permanent;
            rewrite ^/drug-abuse/pregnancy/?$ https://$host/addiction-guide/substance-abuse/pregnancy/ permanent;
            rewrite ^/drug-abuse/prescribed-drug-dosages/?$ https://$host/addiction-guide/prescription-drug/ permanent;
            rewrite ^/drug-abuse/prescription-monitoring-program/?$ https://$host/addiction-guide/drug-laws-regulations/prescription-monitoring-program/ permanent;
            rewrite ^/drug-abuse/prolonged-drug-use-harm-body/?$ https://$host/addiction-guide/substance-abuse/prolonged-drug-use-harm-body/ permanent;
            rewrite ^/drug-abuse/signs-its-time/?$ https://$host/addiction-treatment/rehab/ permanent;
            rewrite ^/drug-abuse/spiked-drinks-date-rape-drugs/?$ https://$host/addiction-guide/polydrug-use/spiked-drinks-date-rape-drugs/ permanent;
            rewrite ^/drug-abuse/straight-edge/?$ https://$host/addiction-guide/drug-related-crimes/straight-edge-punk-music-culture/ permanent;
            rewrite ^/drug-abuse/students-guide-las-vegas/?$ https://$host/addiction-guide/college/ permanent;
            rewrite ^/drug-abuse/suboxone/?$ https://$host/opioids/suboxone-addiction/ permanent;
            rewrite ^/drug-abuse/suboxone/long-stay-in-system/?$ https://$host/opioids/suboxone-addiction/length-in-system/ permanent;
            rewrite ^/drug-abuse/suboxone/long-suboxone-withdrawal-last/?$ https://$host/opioids/suboxone-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/drug-abuse/suboxone/side-effects/?$ https://$host/opioids/suboxone-addiction/side-effects/ permanent;
            rewrite ^/drug-abuse/suboxone/tapering-off/?$ https://$host/opioids/suboxone-addiction/tapering-off/ permanent;
            rewrite ^/drug-abuse/substance-abuse-gender/?$ https://$host/addiction-guide/substance-abuse/substance-abuse-by-gender/ permanent;
            rewrite ^/drug-abuse/test-signs/?$ https://$host/addiction-guide/substance-abuse/drug-tests/ permanent;
            rewrite ^/drug-abuse/texas-laws/?$ https://$host/addiction-guide/drug-laws-regulations/drug-laws-in-texas/ permanent;
            rewrite ^/drug-abuse/travel-use-consequences/?$ https://$host/addiction-guide/substance-abuse/travel-for-drug-use/ permanent;
            rewrite ^/drug-abuse/treatment-history/?$ https://$host/addiction-guide/substance-abuse/treatment-history/ permanent;
            rewrite ^/drug-abuse/urban-suburban-rural/?$ https://$host/addiction-guide/substance-abuse/comparing-urban-suburban-rural-america/ permanent;
            rewrite ^/drug-abuse/valium/?$ https://$host/sedatives/valium-addiction/ permanent;
            rewrite ^/drug-abuse/valium/addictive/?$ https://$host/sedatives/valium-addiction/addiction-potential/ permanent;
            rewrite ^/drug-abuse/valium/health-concerns/?$ https://$host/sedatives/valium-addiction/side-effects/ permanent;
            rewrite ^/drug-abuse/valium/prescription-addiction/?$ https://$host/sedatives/valium-addiction/prescription-addiction/ permanent;
            rewrite ^/drug-abuse/valium/withdrawal-timeline/?$ https://$host/sedatives/valium-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/drug-abuse/what-causes-addiction/?$ https://$host/addiction-guide/substance-abuse/what-causes-addiction/ permanent;
            rewrite ^/drug-abuse/what-is-time-release/?$ https://$host/addiction-guide/substance-abuse/time-release-medications/ permanent;
            rewrite ^/drug-abuse/what-to-look-for/?$ https://$host/addiction-treatment/rehab/what-to-look-for/ permanent;
            rewrite ^/drug-abuse/xanax/?$ https://$host/sedatives/xanax-addiction/ permanent;
            rewrite ^/drug-abuse/xanax/length-in-system/?$ https://$host/sedatives/xanax-addiction/length-in-system/ permanent;
            rewrite ^/drug-abuse/xanax/lethal-dose/?$ https://$host/sedatives/xanax-addiction/overdose/ permanent;
            rewrite ^/drug-abuse/xanax/long-term-effects/?$ https://$host/sedatives/xanax-addiction/long-term-side-effects/ permanent;
            rewrite ^/drug-abuse/xanax/mixing-with-alcohol/?$ https://$host/addiction-guide/polydrug-use/mixing-xanax-and-alcohol/ permanent;
            rewrite ^/drug-abuse/xanax/wean-off/?$ https://$host/sedatives/xanax-addiction/how-to-wean-off/ permanent;
            rewrite ^/drug-overdose/?$ https://$host/addiction-guide/overdose/ permanent;
            rewrite ^/drug-overdose/alcohol-poisoning/?$ https://$host/alcohol-abuse/overdose/ permanent;
            rewrite ^/drug-overdose/benzodiazepine/?$ https://$host/sedatives/benzodiazepine-addiction/overdose/ permanent;
            rewrite ^/drug-overdose/ecstasy/?$ https://$host/hallucinogens/ecstasy-addiction/overdose/ permanent;
            rewrite ^/drug-overdose/fentanyl/?$ https://$host/opioids/fentanyl-addiction/overdose/ permanent;
            rewrite ^/drug-overdose/how-much-cocaine/?$ https://$host/stimulants/cocaine-addiction/overdose/ permanent;
            rewrite ^/drug-overdose/k2/?$ https://$host/synthetic-drugs/synthetic-k2/ permanent;
            rewrite ^/drug-overdose/kratom/?$ https://$host/opioids/kratom-addiction/ permanent;
            rewrite ^/drug-overdose/marijuana/?$ https://$host/marijuana-addiction/overdose/ permanent;
            rewrite ^/drug-overdose/medication-reverse-heroin/?$ https://$host/addiction-medication/heroin-overdose-medications/ permanent;
            rewrite ^/drug-overdose/mix-with-alcohol/?$ https://$host/addiction-guide/polydrug-use/mixing-alcohol-and-drugs/ permanent;
            rewrite ^/drug-overdose/nicotine-patches/?$ https://$host/stimulants/nicotine-addiction/nicotine-patch-overdose/ permanent;
            rewrite ^/drug-overdose/over-the-counter/?$ https://$host/addiction-guide/over-the-counter/overdose/ permanent;
            rewrite ^/drug-overdose/prescription-drugs/?$ https://$host/addiction-guide/prescription-drug/overdose/ permanent;
            rewrite ^/drug-overdose/taking-too-much-ghb/?$ https://$host/sedatives/ghb-addiction/overdose/ permanent;
            rewrite ^/drug-overdose/too-much-ketamine/?$ https://$host/dissociative/ketamine-addiction/overdose/ permanent;
            rewrite ^/drug-overdose/too-much-lsd/?$ https://$host/hallucinogens/lsd-addiction/overdose/ permanent;
            rewrite ^/drug-overdose/top/?$ https://$host/addiction-guide/overdose/top-5-drugs-people-overdose-on/ permanent;
    /etc/nginx/conf.d/redirects/04.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/drug-recovery/?$ https://$host/addiction-treatment/ permanent;
            rewrite ^/drug-recovery/chronic-pain-management-program/?$ https://$host/co-occurring-disorders/chronic-pain/chronic-pain-management-program/ permanent;
            rewrite ^/drug-recovery/detoxification/?$ https://$host/addiction-treatment/detoxification/ permanent;
            rewrite ^/drug-recovery/detoxification/ease-withdrawal-pains/?$ https://$host/addiction-treatment/detoxification/ease-withdrawal-pains/ permanent;
            rewrite ^/drug-recovery/detoxification/ensure-health-and-safety/?$ https://$host/addiction-treatment/detoxification/ensure-health-and-safety/ permanent;
            rewrite ^/drug-recovery/detoxification/selecting-a-program/?$ https://$host/addiction-treatment/detoxification/selecting-a-program/ permanent;
            rewrite ^/drug-recovery/detoxification/tips-to-help-cope/?$ https://$host/addiction-treatment/detoxification/tips-to-help-cope/ permanent;
            rewrite ^/drug-recovery/dietitian-help/?$ https://$host/addiction-guide/recovery/dietitian-help-drug-recovery/ permanent;
            rewrite ^/drug-recovery/exit-rehab-checklist/?$ https://$host/addiction-guide/recovery/ permanent;
            rewrite ^/drug-recovery/freelapse/?$ https://$host/addiction-guide/relapse/freelapse/ permanent;
            rewrite ^/drug-recovery/inpatient/?$ https://$host/addiction-treatment/inpatient/ permanent;
            rewrite ^/drug-recovery/inpatient/admissions-process/?$ https://$host/addiction-treatment/inpatient/admissions-process/ permanent;
            rewrite ^/drug-recovery/inpatient/average-day/?$ https://$host/addiction-treatment/inpatient/average-day/ permanent;
            rewrite ^/drug-recovery/inpatient/graduation/?$ https://$host/addiction-treatment/inpatient/graduation-/ permanent;
            rewrite ^/drug-recovery/inpatient/plans/?$ https://$host/addiction-treatment/inpatient/plans/ permanent;
            rewrite ^/drug-recovery/inpatient/therapy/?$ https://$host/addiction-treatment/inpatient/therapy-types/ permanent;
            rewrite ^/drug-recovery/insurance/?$ https://$host/addiction-guide/insurance-finance/ permanent;
            rewrite ^/drug-recovery/intervention/?$ https://$host/addiction-treatment/intervention/ permanent;
            rewrite ^/drug-recovery/intervention/confrontational/?$ https://$host/addiction-treatment/intervention/confrontational/ permanent;
            rewrite ^/drug-recovery/intervention/do-it-yourself/?$ https://$host/addiction-treatment/intervention/do-it-yourself/ permanent;
            rewrite ^/drug-recovery/intervention/johnson-model/?$ https://$host/addiction-treatment/intervention/johnson-model/ permanent;
            rewrite ^/drug-recovery/intervention/love-first/?$ https://$host/addiction-treatment/intervention/love-first/ permanent;
            rewrite ^/drug-recovery/intervention/systemic-family/?$ https://$host/addiction-treatment/intervention/systemic-family/ permanent;
            rewrite ^/drug-recovery/intervention/tough-love-intervention/?$ https://$host/addiction-treatment/intervention/tough-love-intervention/ permanent;
            rewrite ^/drug-recovery/moderation/?$ https://$host/alcohol-abuse/moderation-management/ permanent;
            rewrite ^/drug-recovery/outpatient/?$ https://$host/addiction-treatment/outpatient/ permanent;
            rewrite ^/drug-recovery/outpatient/aftercare-plan/?$ https://$host/addiction-treatment/outpatient/aftercare-planning/ permanent;
            rewrite ^/drug-recovery/outpatient/cost/?$ https://$host/addiction-treatment/outpatient/cost/ permanent;
            rewrite ^/drug-recovery/outpatient/iop/?$ https://$host/addiction-treatment/outpatient/iop/ permanent;
            rewrite ^/drug-recovery/outpatient/primary-source/?$ https://$host/addiction-treatment/outpatient/primary-source/ permanent;
            rewrite ^/drug-recovery/relapse/?$ https://$host/addiction-guide/relapse/ permanent;
            rewrite ^/drug-recovery/therapy-session/?$ https://$host/addiction-treatment/therapy/session/ permanent;
            rewrite ^/drug-recovery/therapy-session/family-therapy-works/?$ https://$host/addiction-treatment/therapy/family-therapy-work/ permanent;
            rewrite ^/drug-recovery/therapy-session/family/?$ https://$host/addiction-treatment/therapy/family/ permanent;
            rewrite ^/drug-recovery/therapy-session/group-2/?$ https://$host/addiction-treatment/therapy/group-2/ permanent;
            rewrite ^/drug-recovery/therapy-session/group/?$ https://$host/addiction-treatment/therapy/group/ permanent;
            rewrite ^/drug-recovery/therapy-session/one-on-one/?$ https://$host/addiction-treatment/therapy/one-on-one/ permanent;
            rewrite ^/drug-recovery/what-are-the-12-steps/?$ https://$host/alcohol-abuse/12-step-program/what-are-the-12-steps/ permanent;
            rewrite ^/dxm-abuse/?$ https://$host/dissociative/dxm-addiction/ permanent;
            rewrite ^/eating-disorders/?$ https://$host/co-occurring-disorders/eating-disorders/ permanent;
            rewrite ^/ecstasy-abuse-facts/?$ https://$host/hallucinogens/ecstasy-addiction/ permanent;
            rewrite ^/ecstasy-abuse-facts/comedown-timeline/?$ https://$host/hallucinogens/ecstasy-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/ecstasy-abuse-facts/detox/?$ https://$host/hallucinogens/ecstasy-addiction/detox/ permanent;
            rewrite ^/ecstasy-abuse-facts/how-its-made/?$ https://$host/hallucinogens/ecstasy-addiction/how-its-made/ permanent;
            rewrite ^/ecstasy-abuse-facts/long-term-risks/?$ https://$host/hallucinogens/ecstasy-addiction/long-term-side-effects/ permanent;
            rewrite ^/ecstasy-abuse-facts/physical/?$ https://$host/hallucinogens/ecstasy-addiction/physical/ permanent;
            rewrite ^/fentanyl-rehab/?$ https://$host/opioids/fentanyl-addiction/ permanent;
            rewrite ^/fentanyl-rehab/how-addictive/?$ https://$host/opioids/fentanyl-addiction/addiction-potential/ permanent;
            rewrite ^/fentanyl-rehab/how-its-made/?$ https://$host/opioids/fentanyl-addiction/how-its-made/ permanent;
            rewrite ^/fentanyl-rehab/signs-of-abuse/?$ https://$host/opioids/fentanyl-addiction/signs-of-abuse/ permanent;
            rewrite ^/fentanyl-rehab/system/?$ https://$host/opioids/fentanyl-addiction/length-in-system/ permanent;
            rewrite ^/fentanyl-rehab/withdrawal-timeline/?$ https://$host/opioids/fentanyl-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/gabapentin/?$ https://$host/sedatives/gabapentin-addiction/ permanent;
            rewrite ^/gabapentin/long-term-effects/?$ https://$host/sedatives/gabapentin-addiction/long-term-side-effects/ permanent;
            rewrite ^/gabapentin/signs-of-abuse/?$ https://$host/sedatives/gabapentin-addiction/signs-of-abuse/ permanent;
            rewrite ^/gabapentin/withdrawal-timeline/?$ https://$host/sedatives/gabapentin-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/gambling-substance-abuse/?$ https://$host/co-occurring-disorders/gambling-addiction/ permanent;
            rewrite ^/gambling-substance-abuse/history-problem-treatment/?$ https://$host/co-occurring-disorders/gambling-addiction/history-problem-treatment/ permanent;
            rewrite ^/ghb/?$ https://$host/sedatives/ghb-addiction/ permanent;
            rewrite ^/guide-health-and-wellness/?$ https://$host/addiction-guide/health-wellness/ permanent;
            rewrite ^/guide-health-and-wellness/benefits-of-exercise/?$ https://$host/addiction-guide/health-wellness/benefits-of-exercise/ permanent;
            rewrite ^/guide-health-and-wellness/improve-mental-health/?$ https://$host/addiction-guide/health-wellness/improve-mental-health/ permanent;
            rewrite ^/guides/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/hippa-policy/?$ https://$host/about-us/hippa-policy/ permanent;
            rewrite ^/hoarding-substance-abuse/?$ https://$host/co-occurring-disorders/hoarding-disorder/ permanent;
            rewrite ^/holistic-treatment/?$ https://$host/addiction-treatment/holistic-treatment/ permanent;
            rewrite ^/holistic-treatment/eastern-medicine/?$ https://$host/addiction-treatment/holistic-treatment/eastern-medicine/ permanent;
            rewrite ^/homeless-las-vegas-drugs-despair/?$ https://$host/addiction-guide/drug-related-crimes/homeless-las-vegas-drugs-despair/ permanent;
            rewrite ^/impulse-control-disorder/?$ https://$host/co-occurring-disorders/impulse-control-disorder/ permanent;
            rewrite ^/inhalant-abuse/?$ https://$host/inhalant/ permanent;
            rewrite ^/inhalant-abuse/dangers/?$ https://$host/inhalant/dangers/ permanent;
            rewrite ^/inhalant-abuse/household-aerosol/?$ https://$host/inhalant/household-aerosol/ permanent;
            rewrite ^/inhalant-abuse/inhale-gases/?$ https://$host/inhalant/inhale-gases/ permanent;
            rewrite ^/inhalant-abuse/risks-of-nitrates/?$ https://$host/inhalant/risks-of-nitrates/ permanent;
            rewrite ^/insurance/?$ https://$host/las-vegas-program/insurance/ permanent;
            rewrite ^/insurance/anthem-health/?$ https://$host/las-vegas-program/insurance/anthem-health/ permanent;
            rewrite ^/insurance/health-plan-nevada/?$ https://$host/las-vegas-program/insurance/health-plan-nevada/ permanent;
            rewrite ^/insurance/prominence-health-plan/?$ https://$host/las-vegas-program/insurance/prominence-health-plan/ permanent;
            rewrite ^/insurance/using-bho/?$ https://$host/las-vegas-program/insurance/using-bho/ permanent;
            rewrite ^/ketamine-abuse/?$ https://$host/dissociative/ketamine-addiction/ permanent;
            rewrite ^/ketamine-abuse/long-term-effects/?$ https://$host/dissociative/ketamine-addiction/long-term-side-effects/ permanent;
            rewrite ^/ketamine-abuse/signs/?$ https://$host/dissociative/ketamine-addiction/signs-of-abuse/ permanent;
            rewrite ^/ketamine-abuse/treat-depression/?$ https://$host/dissociative/ketamine-addiction/treating-depression/ permanent;
            rewrite ^/ketamine-abuse/why-take-it/?$ https://$host/dissociative/ketamine-addiction/why-take-it/ permanent;
            rewrite ^/ketamine-abuse/withdrawals/?$ https://$host/dissociative/ketamine-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/khat-abuse/?$ https://$host/stimulants/khat-addiction/ permanent;
            rewrite ^/khat-abuse/where-to-find/?$ https://$host/stimulants/khat-addiction/where-to-find/ permanent;
            rewrite ^/language-barrier-in-treatment/?$ https://$host/addiction-treatment/therapy/language-barrier-in-treatment/ permanent;
            rewrite ^/methadone-abuse/?$ https://$host/opioids/methadone-addiction/ permanent;
            rewrite ^/methadone-abuse/addictive/?$ https://$host/opioids/methadone-addiction/addiction-potential/ permanent;
            rewrite ^/methadone/?$ https://$host/addiction-medication/methadone/ permanent;
            rewrite ^/morphine-abuse/?$ https://$host/opioids/morphine-addiction/ permanent;
            rewrite ^/morphine-abuse/long-term-risks/?$ https://$host/opioids/morphine-addiction/long-term-side-effects/ permanent;
            rewrite ^/morphine-abuse/withdrawal-effects/?$ https://$host/opioids/morphine-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/narcissistic-personality-disorder/?$ https://$host/co-occurring-disorders/narcissistic-personality-disorder/ permanent;
            rewrite ^/norco-abuse/?$ https://$host/opioids/norco-addiction/ permanent;
            rewrite ^/ocd-substance-abuse/?$ https://$host/co-occurring-disorders/ocd/ permanent;
            rewrite ^/ocd-substance-abuse/what-is/?$ https://$host/co-occurring-disorders/ocd/what-is-it/ permanent;
            rewrite ^/opana-abuse/?$ https://$host/opioids/ permanent;
            rewrite ^/opana-abuse/length-of-stay/?$ https://$host/opioids/opana-addiction/length-in-system/ permanent;
            rewrite ^/opana-abuse/physical/?$ https://$host/opioids/opana-addiction/side-effects/ permanent;
            rewrite ^/opana-abuse/withdrawal-timeline/?$ https://$host/opioids/opana-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/opioid/?$ https://$host/opioids/ permanent;
            rewrite ^/otc-abuse/?$ https://$host/addiction-guide/over-the-counter/ permanent;
            rewrite ^/oxycontin/?$ https://$host/opioids/oxycontin-addiction/ permanent;
            rewrite ^/oxycontin/abuse/?$ https://$host/opioids/oxycontin-addiction/abuse/ permanent;
            rewrite ^/oxycontin/risks/?$ https://$host/opioids/oxycontin-addiction/side-effects/ permanent;
            rewrite ^/oxycontin/stay-in-your-system/?$ https://$host/opioids/oxycontin-addiction/length-in-system/ permanent;
            rewrite ^/oxycontin/wean-off/?$ https://$host/opioids/oxycontin-addiction/how-to-wean-off/ permanent;
            rewrite ^/oxycontin/withdrawal-timeline/?$ https://$host/opioids/oxycontin-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/pcp-abuse/?$ https://$host/dissociative/pcp-addiction/ permanent;
            rewrite ^/percocet-rehab/?$ https://$host/opioids/oxycontin-addiction/ permanent;
            rewrite ^/politics-treatment-industry/?$ https://$host/addiction-guide/drug-industry-trends/politics-addiction-treatment/ permanent;
            rewrite ^/politics-treatment-industry/executive/?$ https://$host/addiction-guide/drug-laws-regulations/executive/ permanent;
            rewrite ^/politics-treatment-industry/judicial/?$ https://$host/addiction-guide/drug-laws-regulations/judicial/ permanent;
            rewrite ^/politics-treatment-industry/legislative/?$ https://$host/addiction-guide/drug-laws-regulations/legislative/ permanent;
            rewrite ^/politics-treatment-industry/state-local-level/?$ https://$host/addiction-guide/drug-laws-regulations/state-local-level/ permanent;
            rewrite ^/psychedelic-drug-abuse/?$ https://$host/hallucinogens/psychedelics/ permanent;
            rewrite ^/psychedelic-mushrooms/?$ https://$host/hallucinogens/psychedelic-mushroom-addiction/ permanent;
    /etc/nginx/conf.d/redirects/05.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/psychedelic-mushrooms/can-you-die/?$ https://$host/hallucinogens/psychedelic-mushroom-addiction/overdose/ permanent;
            rewrite ^/psychedelic-mushrooms/long-term-effects/?$ https://$host/hallucinogens/psychedelic-mushroom-addiction/long-term-side-effects/ permanent;
            rewrite ^/ptsd-substance-abuse/?$ https://$host/co-occurring-disorders/ptsd/ permanent;
            rewrite ^/ptsd-substance-abuse/high-risk-professions/?$ https://$host/co-occurring-disorders/ptsd/high-risk-professions/ permanent;
            rewrite ^/ptsd-substance-abuse/military-veterans/?$ https://$host/co-occurring-disorders/ptsd/military-veterans/ permanent;
            rewrite ^/ptsd-substance-abuse/victims-domestic-violence/?$ https://$host/co-occurring-disorders/ptsd/domestic-violence-victims/ permanent;
            rewrite ^/ptsd-substance-abuse/why-some-get/?$ https://$host/co-occurring-disorders/ptsd/why-some-get-it-and-some-do-not/ permanent;
            rewrite ^/research-synthetic-drugs/?$ https://$host/synthetic-drugs/ permanent;
            rewrite ^/research-synthetic-drugs/bath-salts/?$ https://$host/synthetic-drugs/bath-salts/ permanent;
            rewrite ^/research-synthetic-drugs/benzo-fury/?$ https://$host/synthetic-drugs/benzo-fury/ permanent;
            rewrite ^/research-synthetic-drugs/cannabinoids-abuse/?$ https://$host/synthetic-drugs/cannabinoids-spice/ permanent;
            rewrite ^/research-synthetic-drugs/hallucinogens/?$ https://$host/synthetic-drugs/hallucinogens/ permanent;
            rewrite ^/research-synthetic-drugs/krokodil/?$ https://$host/opioids/ permanent;
            rewrite ^/research-synthetic-drugs/mephedrone/?$ https://$host/synthetic-drugs/mephedrone/ permanent;
            rewrite ^/schizophrenia-substance-abuse/?$ https://$host/co-occurring-disorders/schizophrenia/ permanent;
            rewrite ^/schizophrenia-substance-abuse/types/?$ https://$host/co-occurring-disorders/schizophrenia/types/ permanent;
            rewrite ^/schizotypal-personality-disorder/?$ https://$host/co-occurring-disorders/schizotypal-personality-disorder/ permanent;
            rewrite ^/southwest-treatment-guide/?$ https://$host/addiction-guide/southwest-treatment-guide/ permanent;
            rewrite ^/southwest-treatment-guide/arizona/?$ https://$host/addiction-guide/arizona-treatment-guide/ permanent;
            rewrite ^/southwest-treatment-guide/arizona/chandler/?$ https://$host/addiction-guide/arizona-treatment-guide/chandler/ permanent;
            rewrite ^/southwest-treatment-guide/arizona/glendale/?$ https://$host/addiction-guide/arizona-treatment-guide/glendale/ permanent;
            rewrite ^/southwest-treatment-guide/arizona/mesa/?$ https://$host/addiction-guide/arizona-treatment-guide/mesa/ permanent;
            rewrite ^/southwest-treatment-guide/arizona/phoenix/?$ https://$host/addiction-guide/arizona-treatment-guide/phoenix/ permanent;
            rewrite ^/southwest-treatment-guide/arizona/scottsdale/?$ https://$host/addiction-guide/arizona-treatment-guide/scottsdale/ permanent;
            rewrite ^/southwest-treatment-guide/arizona/tucson/?$ https://$host/addiction-guide/arizona-treatment-guide/tucson/ permanent;
            rewrite ^/southwest-treatment-guide/colorado/?$ https://$host/addiction-guide/colorado-treatment-guide/ permanent;
            rewrite ^/southwest-treatment-guide/colorado/denver-treatment/?$ https://$host/addiction-guide/colorado-treatment-guide/denver/ permanent;
            rewrite ^/southwest-treatment-guide/nevada/?$ https://$host/addiction-guide/nevada-treatment-guide/ permanent;
            rewrite ^/southwest-treatment-guide/nevada/accept-medicaid/?$ https://$host/addiction-guide/nevada-treatment-guide/medicaid-accepted/ permanent;
            rewrite ^/southwest-treatment-guide/nevada/henderson/?$ https://$host/addiction-guide/nevada-treatment-guide/henderson/ permanent;
            rewrite ^/southwest-treatment-guide/nevada/las-vegas/?$ https://$host/addiction-guide/nevada-treatment-guide/las-vegas/ permanent;
            rewrite ^/southwest-treatment-guide/nevada/reno/?$ https://$host/addiction-guide/nevada-treatment-guide/reno/ permanent;
            rewrite ^/southwest-treatment-guide/nevada/treatment-options/?$ https://$host/addiction-guide/nevada-treatment-guide/treatment-options/ permanent;
            rewrite ^/southwest-treatment-guide/new-mexico/?$ https://$host/addiction-guide/new-mexico-treatment-guide/ permanent;
            rewrite ^/southwest-treatment-guide/new-mexico/albuquerque/?$ https://$host/addiction-guide/new-mexico-treatment-guide/albuquerque/ permanent;
            rewrite ^/southwest-treatment-guide/oklahoma/?$ https://$host/addiction-guide/oklahoma-treatment-guide/ permanent;
            rewrite ^/southwest-treatment-guide/oklahoma/oklahoma-city/?$ https://$host/addiction-guide/oklahoma-treatment-guide/oklahoma-city/ permanent;
            rewrite ^/southwest-treatment-guide/salt-lake-city-treatment/?$ https://$host/addiction-guide/utah-treatment-guide/salt-lake-city/ permanent;
            rewrite ^/southwest-treatment-guide/utah/?$ https://$host/addiction-guide/utah-treatment-guide/ permanent;
            rewrite ^/southwest-treatment-guide/west-texas/?$ https://$host/addiction-guide/west-texas-treatment-guide/ permanent;
            rewrite ^/southwest-treatment-guide/west-texas/el-paso/?$ https://$host/addiction-guide/west-texas-treatment-guide/el-paso/ permanent;
            rewrite ^/taking-multiple-drugs/?$ https://$host/addiction-guide/polydrug-use/ permanent;
            rewrite ^/taking-multiple-drugs/adhd-meds-and-alcohol/?$ https://$host/addiction-guide/polydrug-use/mixing-adhd-meds-and-alcohol/ permanent;
            rewrite ^/taking-multiple-drugs/benzo-and-alcohol/?$ https://$host/addiction-guide/polydrug-use/mixing-benzos-and-alcohol/ permanent;
            rewrite ^/taking-multiple-drugs/cocaine-and-alcohol/?$ https://$host/addiction-guide/polydrug-use/mixing-cocaine-and-alcohol/ permanent;
            rewrite ^/taking-multiple-drugs/cough-medicine-and-antihistamines/?$ https://$host/addiction-guide/polydrug-use/mixing-cough-medicine-and-antihistamines/ permanent;
            rewrite ^/taking-multiple-drugs/ecstasy-club-drugs/?$ https://$host/addiction-guide/polydrug-use/mixing-ecstasy-and-other-club-drugs/ permanent;
            rewrite ^/taking-multiple-drugs/medications-and-alcohol/?$ https://$host/addiction-guide/polydrug-use/mixing-medications-and-alcohol/ permanent;
            rewrite ^/taking-multiple-drugs/mix-alcohol-with-caffeine/?$ https://$host/addiction-guide/polydrug-use/mixing-alcohol-and-caffeine/ permanent;
            rewrite ^/taking-multiple-drugs/mix-cocaine-with-heroin/?$ https://$host/addiction-guide/polydrug-use/mixing-cocaine-and-heroin/ permanent;
            rewrite ^/taking-multiple-drugs/mix-ecstasy-with-meth/?$ https://$host/addiction-guide/polydrug-use/mixing-ecstasy-and-meth/ permanent;
            rewrite ^/taking-multiple-drugs/mixing-fentanyl/?$ https://$host/addiction-guide/polydrug-use/mixing-fentanyl-and-other-drugs/ permanent;
            rewrite ^/taking-multiple-drugs/mixing-meth-alcohol/?$ https://$host/addiction-guide/polydrug-use/mixing-meth-and-alcohol/ permanent;
            rewrite ^/taking-multiple-drugs/mixing-opiates-stimulants/?$ https://$host/addiction-guide/polydrug-use/mixing-opiates-and-stimulants/ permanent;
            rewrite ^/taking-multiple-drugs/mixing-prescription-stimulants/?$ https://$host/addiction-guide/polydrug-use/mixing-prescription-stimulants/ permanent;
            rewrite ^/taking-multiple-drugs/nicotine-patches/?$ https://$host/addiction-guide/polydrug-use/mixing-nicotine-patches-alcohol-drugs/ permanent;
            rewrite ^/taking-multiple-drugs/painkillers-with-benzos/?$ https://$host/addiction-guide/polydrug-use/dangerous-drug-combinations/ permanent;
            rewrite ^/therapy/?$ https://$host/addiction-treatment/therapy/ permanent;
            rewrite ^/therapy/adventure/?$ https://$host/addiction-treatment/therapy/adventure/ permanent;
            rewrite ^/therapy/animal-assisted/?$ https://$host/addiction-treatment/therapy/animal-assisted/ permanent;
            rewrite ^/therapy/biofeedback/?$ https://$host/addiction-treatment/therapy/biofeedback/ permanent;
            rewrite ^/therapy/cognitive-behavioral-therapy/?$ https://$host/addiction-treatment/therapy/cognitive-behavioral-therapy/ permanent;
            rewrite ^/therapy/dialectical-behavior-therapy/?$ https://$host/addiction-treatment/therapy/dialectical-behavioral-therapy/ permanent;
            rewrite ^/therapy/emdr/?$ https://$host/addiction-treatment/therapy/emdr/ permanent;
            rewrite ^/therapy/expressive/?$ https://$host/addiction-treatment/therapy/expressive-therapy/ permanent;
            rewrite ^/therapy/interpersonal/?$ https://$host/addiction-treatment/therapy/interpersonal-therapy/ permanent;
            rewrite ^/therapy/motivational-interviewing/?$ https://$host/addiction-treatment/therapy/motivational-interviewing/ permanent;
            rewrite ^/therapy/options/?$ https://$host/addiction-treatment/therapy/options/ permanent;
            rewrite ^/therapy/out-there-and-bizarre/?$ https://$host/addiction-treatment/therapy/out-there-and-bizarre/ permanent;
            rewrite ^/therapy/psychotherapy/?$ https://$host/addiction-treatment/therapy/psychotherapy/ permanent;
            rewrite ^/therapy/the-evolution-of-treatment/?$ https://$host/addiction-treatment/therapy/the-evolution-of-treatment/ permanent;
            rewrite ^/therapy/what-is-neurotherapy/?$ https://$host/addiction-treatment/therapy/neurotherapy/ permanent;
            rewrite ^/trying-to-quit/?$ https://$host/addiction-guide/withdrawal/trying-to-quit-alone/ permanent;
            rewrite ^/vicodin-rehab/?$ https://$host/opioids/vicodin-addiction/ permanent;
            rewrite ^/vicodin-rehab/symptoms-of-withdrawal/?$ https://$host/opioids/vicodin-addiction/withdrawal-symptoms/ permanent;
            rewrite ^/what-to-bring/?$ https://$host/las-vegas-program/what-to-bring/ permanent;
            rewrite ^/withdrawal-symptoms/alcohol-withdrawal-process/?$ https://$host/alcohol-abuse/withdrawal/ permanent;
            rewrite ^/withdrawal-symptoms/clinical-opiate-withdrawal-scale-cows/?$ https://$host/opioids/opiate-addiction/clinical-opiate-withdrawal-scale-cows/ permanent;
            rewrite ^/withdrawal-symptoms/cope-naturally/?$ https://$host/addiction-guide/withdrawal/ permanent;
            rewrite ^/withdrawal-symptoms/cross-dependence/?$ https://$host/addiction-guide/substance-abuse/cross-dependence/ permanent;
            rewrite ^/withdrawal-symptoms/dealing-with-paws/?$ https://$host/addiction-guide/withdrawal/post-acute-withdrawal-syndrome/ permanent;
            rewrite ^/withdrawal-symptoms/detoxing-at-home/?$ https://$host/addiction-treatment/detoxification/detoxing-at-home-vs-rehab/ permanent;
            rewrite ^/withdrawal-symptoms/half-life/?$ https://$host/addiction-guide/withdrawal/half-life/ permanent;
            rewrite ^/withdrawal-symptoms/opioid/?$ https://$host/opioids/withdrawal/ permanent;
            rewrite ^/withdrawal-symptoms/otc-detox-products/?$ https://$host/addiction-guide/over-the-counter/drug-detox-products/ permanent;
            rewrite ^/withdrawal-symptoms/pay-for-detox/?$ https://$host/addiction-guide/insurance-finance/insurance-coverage-for-detox/ permanent;
            rewrite ^/withdrawal-symptoms/understand-precipitated-withdrawal-syndrome/?$ https://$host/addiction-guide/withdrawal/precipitated-withdrawal-syndrome/ permanent;
            rewrite ^/stimulants/nicotine-addiction/side-effects/?$ https://$host/stimulants/nicotine-addiction/ permanent;
            #FACILITY-1301
            rewrite ^/addiction-guide/insurance-finance/insurance-coverage-for-detox/?$ https://$host/addiction-guide/insurance-finance/paying-for-rehab/ permanent;
            #FACILITY-1088
            rewrite ^/about-us/hippa-policy/?$ https://$host/hipaa-policy/ permanent;
            #FACILITY-1564
            rewrite ^/las-vegas-program/outpatient/programs/?$ https://$host/las-vegas-program/outpatient/ permanent;
            rewrite ^/las-vegas-program/outpatient/aftercare/?$ https://$host/las-vegas-program/outpatient/ permanent;
            #FACILITY-1726
            rewrite ^/hope/?$ https://$host/ permanent;
            #FACILITY-1735
            rewrite ^/addiction-blog/drug-use-impact-on-paycheck-calculator/?$ https://$host/blog/functional-addiction/ permanent;
            #FACILITY-2280
            rewrite ^/inhalant/risks-of-nitrates/?$ https://$host/inhalant/poppers/ permanent;
            #FACILITY-2705
            rewrite ^/blog/$ https://$host/addiction-blog/ permanent;
            rewrite ^/addiction-blog/(.+) https://$host/blog/$1 permanent;
            rewrite ^/addiction-blog/tag/$ https://$host/blog/tag/ permanent;
            rewrite ^/addiction-blog/tag/(.+) https://$host/blog/tag/$1 permanent;
