files:
    /etc/nginx/conf.d/redirects/06.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3199
            rewrite ^/alcohol-abuse/functional-alcoholic/?$ https://$host/alcohol-abuse/types-of-alcoholics/ permanent;
            rewrite ^/alcohol-abuse/functional-alcoholic/why-it-matters/?$ https://$host/alcohol-abuse/types-of-alcoholics/ permanent;
            rewrite ^/alcohol-abuse/drunk-driving/how-much-is-too-much-to-drive/?$ https://$host/alcohol-abuse/drunk-driving/ permanent;
            rewrite ^/alcohol-abuse/symptoms/?$ https://$host/alcohol-abuse/signs-of-abuse/ permanent;
            rewrite ^/alcohol-abuse/side-effects/blood-pressure-and-heart/?$ https://$host/alcohol-abuse/side-effects/ permanent;
            rewrite ^/alcohol-abuse/moderation-management/treatment-strategy/?$ https://$host/alcohol-abuse/moderation-management/ permanent;

